doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | HealthTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css") 
    body
        header
            if fakeUser.loggedIn
                small #{fakeUser.username}님 환영합니다!
            nav
                ul
                    if fakeUser.loggedIn
                        li  
                            a(href="/logout") Logout
                    else
                        li 
                            a(href="/login") login 
            h1=pageTitle 
        main
            block content
    include partials/footer.pug