extends base 

block content
    img(src='/uploads/헬스1.jpg', alt='Background Image').background-image
    if errorMessage 
        span=errorMessage
    form(method="POST").login-form
        input(placeholder="기존 비밀번호",type="password",name="oldPassword").submitnotinput
        input(placeholder="새 비밀번호",type="password",name="newPassword").submitnotinput
        input(placeholder="새 비밀번호 확인",type="password",name="newPasswordConfirm").submitnotinput
        input(value="변경", type="submit").submitinput
        