extends base.pug

block content 
    h4 영상 제목을 편집하세요!
    form(method="POST")
        input(name="title",placehodler="Video Title",value=video.title,required)
        input(value="Save", type="submit")
        