extends base.pug
include mixins/video


block content 
    span.hello 승호의 헬스튜브에 오신것을 환영합니다
    br
    br
    br
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message 영상이 없어요!! 