extends base.pug
include mixins/video


block content
    body.background-image
        img(src='./uploads/헬스1.jpg', alt='Background Image')

    hr
    br
    a(href="/notice")
        span.noticeStart 공지사항 반드시 읽어주세요.
    br
    br
    hr
    br

    br
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message 영상이 없어요!! 