extends base

block content 
    body.background-image
        img(src='./uploads/헬스.jpg', alt='Background Image')
    form(method="POST").login-form
        if errorMessage
            span.errorMessage=errorMessage
            br
            br
        input(placeholder="본인 이름",name="name",type="text",required).submitnotinput
        input(placeholder="이메일",name="email",type="email",required).submitnotinput
        input(placeholder="아이디",name="username",type="text",required).submitnotinput
        input(placeholder="비밀번호",name="password",type="password",required).submitnotinput
        input(placeholder="비밀번호 확인",name="password2",type="password",required).submitnotinput
        input(placeholder="주소",name="location",type="text",required).submitnotinput
        input(type="submit", value="회원가입").submitinput
        include partials/social-login
    div.auth-switch   
        span 이미 계정이 있으시면 아래 버튼을 누르세요!
            br
            a(href="/login") 로그인 &rarr;
