extends base

block content
    img(src='/uploads/헬스.jpg', alt='Background Image').background-image
    form(method="POST").login-form
        if errorMessage
            span.errorMessage=errorMessage
            br
            br
        input(placeholder="아이디",name="username",type="text",required).submitnotinput
        input(placeholder="비밀번호",name="password",type="password",required).submitnotinput
        input(type="submit", value="로그인").submitinput
        include partials/social-login
        div.auth-switch     
            span 계정이 없으면 회원가입하세요!
                br
                a(href="/join") 회원가입 &rarr;
    
