extends base

block content
    img(src='/uploads/헬스1.jpg', alt='Background Image').background-image
    div.notice
        h1.notice__main 승호의 헬스튜브 들어와 주셔서 감사합니다! 공지사항 및 작품설명을 하겠습니다. 
        hr.mainhr
        div.notice__body
            span 승호의 친위대인 Java/Spring이 아닌 Node.js/express를 활용한 4번째 작품입니다.
            br
            br
            span 이 작품은 헬스튜브 즉 운동 영상을 올리고 회원들이 영상과 댓글을 통해 서로 커뮤니케이션 프로젝트입니다. 
            br
            br
            span 추가로 게시판도 만들고 싶었으나 시간이 없어서 포기..
            br
            br
            span 실제 영상 녹화 및 업로드가 가능하며 댓글도 가능하나. 댓글 삭제는 어려워서 포기..
            br
            br
            span 회원가입 및 로그인, 비밀번호 변경이 가능하며 소셜로그인 깃허브 가능합니다.(카카오톡 구현할려 했으나 어려워서 포기..)
            br
            br
            span 영상 검색 가능합니다. 
            br
            br
            span 로그인한 회원만 댓글달 수 있습니다.  
            br
            br
            span 영상은 50mb까지 가능하며 본 취지에 맞게 운동영상만 올려주시면 감사하겠습니다. 



    block scripts
