extends base

block content
    div
        span 승호의 헬스튜브 들어와 주셔서 감사합니다! 몇가지 공지사항 알려드리겠습니다. 
        hr
        li 승호의 친위대인 Java/Spring이 아닌 Node.js/express를 활용한 4번째 작품입니다.
        li 이 작품은 헬스튜브 즉 운동 영상을 올리고 회원들이 영상과 댓글을 통해 서로 커뮤니케이션 프로젝트입니다. 
        li 추가로 게시판도 만들고 싶었으나 시간이 없어서 포기..
        li 실제 영상 녹화 및 업로드가 가능하며 댓글도 가능하나.. 모든 유저가 댓글 삭제가 가능합니다..(어려워서 포기..)
        li 회원가입 및 로그인이 가능하며 소셜로그인 깃허브 가능합니다.(카카오톡 구현할려 했으나 어려워서 포기..)
        li 영상 검색 가능합니다. 
        li 로그인한 회원만 댓글달 수 있습니다.  
        li 영상은 50mb까지 가능하며 본 취지에 맞게 운동영상만 올려주시면 감사하겠습니다. 



    block scripts
    if loggedIn
        script(src="/static/js/commentSection.js") 