extends base.pug
include mixins/video

block content
    form(method="GET").search__form
        input(placeholder="제목 입력",name="keyword", type="text")
        button
            i.fas.fa-search

    div.video-grid
        each video in videos 
            +video(video)
        else
            h1.empty__message 검색결과가 없습니다.