footer
    span.footer &copy; #{new Date().getFullYear()} 
        span 헬스튜브
        i.fas.fa-running
        span  &nbsp;
        span.footer__Second &nbsp; (주)최승호         
        a(href="https://github.com/chltmdgh522") 
            i.fab.fa-github

